* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 2.5fr 6fr;
    grid-template-rows: 50px 60px 1fr 50px;
    grid-template-areas: 
    "a a"
    "b b"
    "c d"
    "e e"
    ;
    overflow: hidden;
}

header {
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-size: large;
    backdrop-filter: blur(3px);
}

nav {
    grid-area: b;
    display: flex;
    border: 1px solid white;
    backdrop-filter: blur(10px);
}

nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    background: transparent;
    border: 2px solid white;
    display: flex;
}

nav ul li a,.login {
    color: white;
    width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

nav ul li a:hover,.login:hover {
    transition: 0.8s;
    filter: brightness(80%);
}

.github {
    background: white;
    width: 70px;
    height: 40px;
}

.left-aside {
    grid-area: c;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.left-aside details {
    min-width: 280px;
    width: 300px;
    height: auto;
    background: whitesmoke;
}

.ins1,.ins2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

main {
    grid-area: d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid white;
}

.margin div {
    margin: 1rem;
}

.tab1,.tab2 {
    margin: 1rem;
}

footer {
    grid-area: e;
    border: 1px solid white;
}

.tab,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    background: rgb(102, 102, 102);
    text-align: center;
}

.tab th {
    background:rgb(102, 102, 102);
    padding: 1rem;
}

.tab td {
    background: honeydew;
}

.deletebtn,.oddaj {
    padding: 0.5rem;
    font-size: 15px;
}

.tab1,.tab2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    max-height: 300px;
    overflow: scroll;
}

@media only screen and (max-width: 1700px){
    header {
        color: white;
    }
}
@media only screen and (max-width: 1150px) {
    .container {
        width: 100%;
        height: 100vh;
        background-image: url(images/background.png);
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 60px 0.7fr 1fr 50px;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e";
    }
    .tab1 {
        max-width: 380px;
        max-height: 200px;
    }
    .tab2 {
        max-width: 700px;
        max-height: 270px;
    }
}

/*<-------------------- logowanie -------------------->*/

.modal {
    width: 100vw;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.7);
    display: none;
    position: absolute;
    z-index: 10;
}
.modal .log {
    margin: auto;
    height: 40%;
    min-width: 200px;
    width: 500px;
    background: white;
    border-radius: 10px;
    position: relative;
}
.close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 30px;
    font-weight: 900;
    transform: rotate(45deg);
}
.log .a1 {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: cornflowerblue;
    transition: 0.3s;
}
.log .a2 {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log .a2 .e1 {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log .a2 .e1 .i {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.ii {
    margin-bottom: 20px;
}
.in {
    border-radius: 5px;
    border: 2px solid rgb(0, 223, 0);
    padding: 0.5rem;
}
.button {
    width: 70px;
    height: 40px;
}

@media only screen and (max-width: 600px) {
    .container {
        overflow: scroll;
    }
    .log {
        width: 90%;
    }
    .circle {
        width: 105px;
        height: 105px;
    }
    .tab {
        margin: 0;
    }
    .tab2 {
        width: 380px;        
    }
}

@media only screen and (max-width: 400px) {
    .circle {
        width: 95px;
        height: 95px;
    }
    .tab1,.tab2 {
        width: 260px;
    }
}